.tipo{
    display: flex ;
    justify-content: center;
    font-family:'Inter', sans-serif; 
}

.footer{
    width: 100%;
    background-color: whitesmoke;
}

ul {color: black;
    font-family: 'Inter', sans-serif;
    text-align:left;
    word-spacing: 30px;
}